
.lg-spec {
  margin-top: 12px;
  background-color: #FFFFFF;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.lg-spec__item {
  flex: 1;
  min-height: 48px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  line-height: 16px;

}
.lg-spec__item.selected {
  background-color: #FFEFE4;
  color: #F82F5C;
  border-color: #F82F5C;
}
.lg-spec__item:not(:nth-child(2n)) {
  margin-right: 10px;
}